{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<div class="card">
    <div class="card-header">
        <h5>{{ titulo }}</h5>
        <a href="{{ url_for('main.listar_productos') }}" class="btn btn-secondary">Volver</a>
    </div>
    <div class="card-body">
        <form method="POST">
            {{ form.hidden_tag() }}
            {{ macros.render_field(form.descripcion) }}
            {{ macros.render_field(form.precio, classes="currency-input") }}
            {{ macros.render_field(form.stock) }}
            {{ form.submit(class="btn btn-primary") }}
        </form>
    </div>
</div>
{% endblock %}